* {

    border: 1px solid red;
}

/* bg and colors */

.di-gray-text {

    color: var(--bs-gray);
}

.di-light-gray {

    background-color: var(--bs-gray-100)
}

.di-bg-gray {

    background-color: var(--bs-gray);
}

.di-bg-blue {

    background-color: var(--bs-blue);
}

.di-bg-green {

    background-color: var(--bs-green);
}

.di-bg-red {

    background-color: var(--bs-red);
}

.di-bg-cyan {

    background-color: var(--bs-cyan);
}

.di-bg-yellow {

    background-color: var(--bs-yellow);
}

.di-bg-black {

    background-color: var(--bs-black);
}